<footer class="site-footer">
  <section class="footer-top">
    <!-- Nosotros -->
    <div class="footer-column">
      <h3>Nosotros</h3>
      <div class="column-divider"></div>
      <ul>
        <li><a routerLink="/educacion-ambiental">Quienes Somos</a></li>
        <li><a routerLink="/">Ecoworms</a></li>
      </ul>
    </div>

    <!-- Proyectos -->
    <div class="footer-column">
      <h3>Proyectos</h3>
      <div class="column-divider"></div>
      <ul>
        <li><a routerLink="/biodegradacion">Biodegradación</a></li>
        <li><a routerLink="/educacion-ambiental">Educación Ambiental</a></li>
        <li><a routerLink="/colaboracion">Alianzas Estratégicas</a></li>
        <li><a routerLink="/administracion">Futuros Proyectos</a></li>
      </ul>
    </div>

    <!-- Sedes -->
    <div class="footer-column">
      <h3>Sedes</h3>
      <div class="column-divider"></div>
      <ul>
        <li>San Miguel</li>
        <li>Jesús María</li>
        <li>Lince</li>
        <li>La Molina</li>
      </ul>
    </div>

    <!-- Legal -->
    <div class="footer-column">
      <h3>Legal</h3>
      <div class="column-divider"></div>
      <ul>
        <li><a href="#">Políticas</a></li>
        <li><a href="#">Reglamentos</a></li>
        <li><a href="#">Normas</a></li>
      </ul>
    </div>
  </section>

  <div class="footer-middle-line"></div>

  <section class="footer-bottom">
    <span>ECOWORMS</span>
  </section>
</footer>
